__pycache__/
__pypackages__/
_ide_*
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.crt
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.editorconfig
.eggs/
.env
.env.bak
.env.safe
.eslintcache
.fseventsd
.grunt
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.LSOverride
.mypy_cache/
.next
.node_repl_history
.nova
.nox/
.npm
.nuxt
.nyc_output
.pem
.php_cs.cache
.phpunit.result.cache
.private
.Spotlight-V100
.spyderproject
.spyproject
.sqlite3
.TemporaryItems
.Trashes
.venv
.VolumeIcon.icns
.vscode
/_ide_helper_models.php
/_ide_helper.php
/.cghooks.lock
/.idea
/.nova
/.phpstorm.meta.php
/.vagrant
/.vscode
/node_modules
/private
/tmp
/vendor
/vendor/